.search-box {
  position: relative;
}

.search-box .form-control {
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}

.search-box .search-icon,
.search-box .microphone-icon {
  position: absolute;
  z-index: 22;
  line-height: 33px;
  text-align: center;
}

.search-box .search-icon {
  left: 0;
  width: 2.375rem;
  color: #aaa;
}

.search-box .microphone-icon {
  right: 0;
  top: 25px;
  width: 2.375rem;
  color: #0098cb;
}

.form-control::placeholder {
  color: #999;
}

.form-control::placeholder span {
  color: #ff0000;
}

.dpImage {
  width: 30px;
  margin-right: 30px;
}

.bell-icon {
  font-size: 20px;
}

.notification-count {
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: red;
  transform: translate(-60%, -40%) !important;
  display: inline-block;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.online-status {
  position: absolute;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #0098cb;
  transform: translate(-40px, 20px) !important;
  display: inline-block;
  padding: 6px 6px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.username {
  margin-right: 20px;
}

.username svg {
  font-size: 20px;
  color: #999;
}

.cur-license {
  color: #0098cb;
  padding-left: 20px;
  text-shadow: 0 0 10px #0098cb68;
}

.license-name {
  color: #999;
  padding: 0 15px;
}

.welcome-usr {
  font-size: 20px;
  font-weight: 500;
}

.wel-subtitle {
  color: #999;
}

.info-section {
  display: flex;
  justify-content: end;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.menuIconContainer {
  align-items: center;
  justify-content: center;
}

.menuIcon {
  font-size: 60px;
  padding-top: 1.75rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .info-section {
    justify-content: start;
    margin: 0;
  }

  .cur-license {
    padding: 0;
  }

  .top-section {
    flex-direction: column-reverse;
  }

  .welcome {
    padding-top: 10px;
    text-align: left;
  }

  .menuIcon {
    font-size: 60px;
    padding-top: 1.75rem;
    padding-right: 1.75rem;
  }
}
